
<section class="grid md:grid-cols-2 px-0 " >
      <div class="picture relative">
        <picture >
          <source srcset="{{block.background-desktop-image}}" media="(min-width: 750px)" />
          <img class="absolute inset-0 h-full w-full object-cover object-center" src="{{block.background-mobile-image}}" alt="{{block.background-alt}}" />
        </picture>
        
      </div>
      <div class="text-block">
         {% include snippets/text-box.html include="block.text-box" %}
      </div>
    </section>

    <style>

    #section-{{forloop.index}} section{
      gap: {{block.section-gap}};

    }

    #section-{{forloop.index}} .text-block {
      text-align: {{block.text-alignment}};
      align-self: {% case block.vert-alignment %}
        {% when 'top' %}
        self-start
        {% when 'middle' %}
        self-center
        {% when 'bottom' %}
        self-end
        {% endcase %};
      {% if block.desktop-image-position == 'right' %}
          padding-left: var(--max-width-side-padding);
        {% else %}
          padding-right: var(--max-width-side-padding);
          order:3;
      {% endif %}
    }

    #section-{{forloop.index}} .picture{
      aspect-ratio: {% include logic/aspect-logic.html aspect = block.img_aspect %} ;
      align-self:center;
      order:2;
      {% if block.desktop-collapse-bg-padding == false %}
         {% if block.desktop-image-position == 'left' %}
          margin-left: var(--max-width-side-padding);
          {% else %}
          margin-right: var(--max-width-side-padding);
         {% endif %}
      {% endif %}
    }

    @media (max-width: 750px) {
      #section-{{forloop.index}} section{
        flex-direction: column;
      }
      #section-{{forloop.index}} .text-block{
        padding-left: var(--max-width-side-padding);
        padding-right: var(--max-width-side-padding);
        {% if block.mobile-image-position == 'bottom' %}
          order: 1;
        {% else %}
          order:3;
      {% endif %}
      }
      #section-{{forloop.index}} .picture{

        {% if block.mobile-collapse-bg-padding == false %}
        width: calc(100vw - calc( var(--side-gap) * 2));
        margin-left: var(--side-gap);
        {% else %}
        width: 100vw;
       {% endif %} 
      }

    }

      
    </style>