<!DOCTYPE html>
<html lang="en" class="hide-scrollbars">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Inter:wght@100..900&display=swap" rel="stylesheet">
    
    <link rel="icon" type="image/x-icon" href="{{page.seo.favicon | default: site.data.seo.favicon}}">
    
    
    
    <link rel="stylesheet" href="/editor.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    
    <!-- meta-fields -->
    <title>{{page.seo.title | default: site.data.seo.title }}</title>
    <meta name="description" content="{{page.seo.description | default: site.data.seo.description}}">
    <meta property="og:image" content="{{page.data.seo.image | default: site.data.seo.image}}"/>
    
    <meta name="google" content="nositelinkssearchbox">
    {% if site.data.seo.google-site-verification %}
      <meta name="google-site-verification" content="{{site.data.seo.google-site-verification}}">
    {% endif %}
    
    
    {% if page.seo.index == true %}
      <meta name="robots" content="all">
    {% else %}
      <meta name="robots" content="none">
    {% endif %}



<style>
    :root{
        --max-width: {{site.data.style.max-width}}px;
        --side-gap: {{site.data.style.horizontal-padding}};
        --vert-gap: {{site.data.style.vertical-padding}};
        --animation-speed: {{site.data.style.animation-speed}};
        --small-padding: {{site.data.style.small-padding}};
    }

    body{
        --max-width-side-padding: max({{site.data.style.horizontal-padding}},  calc( calc(100vw - var(--max-width)) / 2) );
    }
    :root,{% for scheme in site.data.style.schemes %}
        .scheme-{{scheme.scheme_name}} {
            --bg-color: {{scheme.bg-color}};
            --text-color: {{scheme.text-color}};
            --colored-button-bg: {{scheme.colored-button-bg-color}};
            --colored-button-text: {{scheme.colored-button-text-color}};
        }
    {% endfor %}

</style>


</head>

<body>
  <div class="scheme-base relative" id="header">
  <header>
    <div class="max-width flex justify-between items-center">
      <div class="flex-1">
        <a href="/">
          <img style="max-width: min({{site.data.navigation.header_logo_width}}, 100%)" src="{{site.data.navigation.logo_image}}" alt="{{site.data.navigation.logo_alt}}">
        </a>
      </div>
      <nav class="text-right hidden right-0 top-0 md:block shrink-0">
        {% for link in site.data.navigation.header_links %}
        <span 
        class="inline-block drop-finder p-4 {% if forloop.last %} pr-0 {% endif %}
        {% if link.sub_links %}
          relative
        {% endif %}
        "
          >
            <a href="{{link.link}}">{{link.text}}</a>
            {% if link.sub_links %}
              <div class="absolute left-0 top-12 z-10 drop-down color-set min-w-min hidden">
                {% for sub-link in link.sub_links %}
                  <a class="block whitespace-nowrap p-4" href="{{sub-link.link}}">{{sub-link.text}}</a>
                {% endfor %}
              </div>
            {% endif %}

      </span>

          {% endfor %}
      </nav>
      <div class="md:hidden">
        <div class="burger-button">
          <span class="burger-top"></span>
          <span class="burger-middle"></span>
          <span class="burger-bottom"></span>
      </div>
       <div class="burger-menu color-set">
        {% for link in site.data.navigation.header_links %}
        <a  href="{{link.link}}">{{link.text}}</a>
        {% if link.sub_links %}
          <div class="ml-small">
            {% for sub-link in link.sub_links %}
              <a class="block whitespace-nowrap p-4" href="{{sub-link.link}}">{{sub-link.text}}</a>
            {% endfor %}
          </div>
        {% endif %}


          {% endfor %}
      </div>
      </div>
    </div>
  </header>
</div>

<!-- {% include block/horizontal-scroll-basic.html %} -->
  {% if page.blocks %}
    {% for block in page.blocks %}
        <div class="scheme-{{block.color-scheme}} relative" id="section-{{forloop.index}}">
            {% comment %} to figure out what block you added in inspect {% endcomment %}
            <!--{{block._id}} -->
            {% include /block/{{block._id}}.html %}
        </div>
        <!-- script check -->
         {% if block._id == 'accordion' %}
           {% assign hasAccordion = true %}
         {% endif %}

         {% if block._id == 'ticket-banner' %}
          {% assign hasTicketBanner = true %}
         {% endif %}
         {% if block._id == 'slider' %}
         {% assign hasSlider = true %}
       {% endif %}
    {% endfor %}
    {% else %}
    <section>
      <div class="max-width">
        {{content}}
      </div>
    </section>
    {% endif %}


    <div class="scheme-dark relative" id="footer">
    <footer>
      <div class="max-width">
        <nav class="text-right">
          {% for link in site.data.navigation.footer_links %}
          <a class="inline-block p-4" href="{{link.link}}">{{link.text}}</a>
          {% endfor %}
        </nav>
      </div>
    </footer>
  </div>
</body>

{{hasSlider}}

{% if hasSlider == true %}
<!-- slick css -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- slick js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha512-eP8DK17a+MOcKHXC5Yrqzd8WI5WKh6F1TIk5QZ/8Lbv+8ssblcz7oGC8ZmQ/ZSAPa7ZmsCU4e/hcovqR8jfJqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endif %}




<script>


// universal functions

function passHeightUp(target) {
    target.parentElement.parentElement.style.setProperty('--true-height',  `${target.offsetHeight}px` )
  }


// burger menu

  const burgerButton = document.querySelector('.burger-button');
  const burgerMenu = document.querySelector('.burger-menu')



function toggleBurger() {
  burgerButton.classList.toggle('active')
  burgerMenu.classList.toggle('active')
}

burgerButton.addEventListener('click', toggleBurger)

{% if hasAccordion == true %}
  const buttons = document.querySelectorAll(".expandButton");
  const dropSecs = document.querySelectorAll(".drop-sec");

  dropSecs.forEach(sec => {
    passHeightUp(sec.querySelector(".content"))
  })

  onresize = (event) => {
    dropSecs.forEach(sec => {
      passHeightUp(sec.querySelector(".content"))
  })

  };

  
  function showMore() {
      this.nextElementSibling.classList.toggle('collapsed');
  }

  buttons.forEach(button => {
    button.addEventListener('click', showMore)
  }
  )

  {% endif %}
  {% if hasTicketBanner == true %}
  const tickerBanners = document.querySelectorAll('.tickerBanner');

tickerBanners.forEach(banner => {



  let textBlock = banner.querySelectorAll('.text-block');

  console.log(textBlock[1].offsetWidth)

  let bannerBlock = 0;
  textBlock.forEach( block => {
    bannerBlock += block.offsetWidth
  });

  let bannerLength = bannerBlock
  console.log(bannerBlock)
  console.log(banner.dataset.bannerSpeed)
  
  
  banner.style.setProperty('--bannerBlockLength', `${bannerBlock}px`);
  banner.style.setProperty('--bannerBlockTime', `${(bannerBlock / banner.dataset.bannerSpeed )}s`);

  
  function extendBanner() {
  if (bannerLength < (screen.width + bannerBlock) ) {
    textBlock.forEach(block => {
    console.log(block.innerHTML)
    // add the newly created element and its content into the DOM
    banner.appendChild(block.cloneNode(true));
    // banner.querySelector('a:last-child').innerHTML = block.innerHTML
    // banner.querySelector('a:last-child').href = block.href
      
    });
    bannerLength += bannerBlock;
    console.log(bannerLength) 
    extendBanner()
  } else {
    banner.classList.add('active')
  }
}



  extendBanner()

  console.log(bannerLength)

})
  {% endif %}


  addEventListener("load", (event) => {

    console.log('pageloaded')
    
    {% for block in page.blocks %}
    
    {% if block._id == 'slider' %}
    
         $('#section-{{forloop.index}} .slider').slick({
           dots: false,
           arrows: true,
           slidesToShow: {{block.slider_column_count}},
           slidesToScroll: 1,
           dragable: true,
           infinite: true,
           speed: 500,
           fade: false,
           cssEase: 'linear'
          });
          
          {% endif %}
          {% endfor %}
});
</script>