<div class="flex image-gallery">
    <div>
        <div class="{{include.image_size_ratio}}">
            <img src="{{ include.first-image }}" alt="{{ include.first-alt }}">
        </div>
    </div>
    
    {% if include.second-image %}
    <div>
        <div class="{{include.image_size_ratio}}">
            <img src="{{ include.second-image }}" alt="{{ include.second-alt }}">
        </div>
    </div>
    {% endif %}
    {% if include.third-image %}
    <div>
        <div class="{{include.image_size_ratio}}">
            <img src="{{ include.third-image }}" alt="{{ include.second-alt }}">
        </div>
    </div>
    {% endif %}
</div>